* {
  font-family: setoFont;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  
}

@font-face {
    font-family: setoFont;
    src: url(/fonts/setofont.woff);
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

section {
  line-height: 1;
}

nav {
  position: absolute;
  padding: 0;
}

nav .openbtn1 {
  display: none;
}

nav .navbar-nav {
  position: relative;
  z-index: 99;
  position: fixed;
  top: 30px;
  right: 50px;
  font-size: 20px;
  background-color: #dcd8cf;
  border-radius: 20px;
  opacity: 0.8;
}

nav .navbar-nav .nav-item {
  padding: 0 20px;
}

nav .navbar-nav .nav-item .nav-link {
  position: relative;
}

nav .navbar-nav .nav-item .nav-link .cart .order {
  position: absolute;
  top: 5px;
  left: 22px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.98);
}

nav .cartIcon {
  display: none;
  z-index: 99;
  position: fixed;
  top: 12px;
  right: 80px;
  font-size: 20px;
  list-style: none;
}

nav .cartIcon i {
  color: #000;
  opacity: 0.4;
}

nav .cartIcon .cart2 .order {
  position: absolute;
  top: 5px;
  left: 70px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.98);
}

.follow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  top: 50px;
  left: 50px;
}

.follow .text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.scrollDown {
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding-right: 30px;
}

.scrollDown span {
  position: absolute;
  left: 10px;
  bottom: 6px;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrollDown:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  -webkit-animation: circlemove 1.6s ease-in-out infinite,
 cirlemovehide 1.6s ease-out infinite;
          animation: circlemove 1.6s ease-in-out infinite,
 cirlemovehide 1.6s ease-out infinite;
}

.scrollDown:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 70px;
  background: #000;
}

@-webkit-keyframes circlemove {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: -5px;
  }
}

@keyframes circlemove {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: -5px;
  }
}

@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.container-fluid {
  background-color: #dcd8cf;
}

.carousel-item {
  margin-top: 160px;
  padding-bottom: 20px;
}

.carousel-item img {
  border-radius: 0 10px 10px 0;
  opacity: 0.8;
}

.col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-5 .shopName {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #969494;
}

.col-5 .shopName .main {
  font-size: 80px;
}

.col-5 .shopName .sub {
  font-size: 30px;
  text-align: end;
}

.news {
  background-color: #f1eee9;
}

.news .newsBlock {
  max-width: 80%;
  padding-bottom: 100px;
}

.news .newsBlock .newsTitle {
  position: relative;
  top: 60px;
  left: -10%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0.6;
}

.news .newsBlock .newsTitle .main {
  font-size: 40px;
}

.news .newsBlock .newsTitle .sub {
  font-size: 20px;
  text-align: end;
}

.news .newsBlock .newsList:last-child {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  border-top: none;
}

.news .newsBlock .newsItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 30px;
  color: #000;
}

.news .newsBlock p {
  margin: 0;
}

.news .newsBlock .date {
  font-size: 18px;
  padding-right: 80px;
  opacity: 0.6;
}

.news .newsBlock .title {
  font-size: 22px;
  opacity: 0.7;
}

.news .newsBlock .icon {
  position: absolute;
  right: 10%;
  font-weight: 600;
}

.news .newsBlock .icon::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -8px;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
}

.news .newsBlock a:hover .icon span {
  position: relative;
  -webkit-animation: arrowmove 1.5s ease-in-out infinite,
 arrowmovehide 1.5s ease-out infinite;
          animation: arrowmove 1.5s ease-in-out infinite,
 arrowmovehide 1.5s ease-out infinite;
}

@-webkit-keyframes arrowmove {
  0% {
    right: 5px;
  }
  100% {
    right: -5px;
  }
}

@keyframes arrowmove {
  0% {
    right: 5px;
  }
  100% {
    right: -5px;
  }
}

@-webkit-keyframes arrowmovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrowmovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.news .newsBlock .newsItem:hover {
  text-decoration: none;
  color: #000;
}

.product {
  position: relative;
  background-color: #f0efee;
}

.product .productTitle {
  position: relative;
  top: 60px;
  left: 85%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0.6;
}

.product .productTitle .main {
  font-size: 40px;
}

.product .productTitle .sub {
  font-size: 20px;
  text-align: end;
}

.product .kasutera, .product .oishii {
  position: relative;
  margin: 0 auto;
  padding: 80px 0;
  width: 80%;
  height: 100%;
  letter-spacing: 2px;
}

.product .kasutera .title, .product .oishii .title {
  position: absolute;
  top: 20px;
  left: -50px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 28px;
  opacity: 0.8;
}

.product .kasutera img, .product .oishii img {
  width: 100%;
  border-radius: 30px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.product .kasutera img:hover, .product .oishii img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.product .kasutera h1, .product .oishii h1 {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  opacity: 0.8;
}

.product .kasutera ul, .product .oishii ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 18px;
  opacity: 0.6;
  font-weight: 600;
  padding: 10px 0;
}

.product .kasutera li, .product .oishii li {
  display: block;
  list-style-type: none;
}

.product .botton {
  bottom: 50px;
  right: 30px;
}

.shop {
  background-color: #f1eee9;
  padding-bottom: 180px;
}

.shop .shopTitle {
  z-index: 99;
  position: relative;
  top: 60px;
  left: 2%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0.6;
}

.shop .shopTitle .main {
  font-size: 40px;
}

.shop .shopTitle .sub {
  font-size: 20px;
  text-align: end;
}

.shop .container {
  position: relative;
}

.shop .container img {
  width: 70%;
  height: 500px;
  border-radius: 0 20px 0 0;
  padding-left: 80px;
}

.shop .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 350px;
  left: 35%;
  padding: 0 70px;
  min-width: 60%;
  height: 300px;
  background-color: #FCFCFC;
  border-radius: 20px;
  gap: 20px;
}

.shop .container dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
}

.shop .container dt {
  padding-right: 50px;
  font-size: 22px;
}

.shop .container dd {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.map {
  padding-bottom: 100px;
  background-color: #141414;
}

.map .mapTitle {
  z-index: 99;
  position: relative;
  top: 60px;
  left: 80%;
  color: #FCFCFC;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0.6;
}

.map .mapTitle .main {
  font-size: 40px;
}

.map .mapTitle .sub {
  font-size: 20px;
  text-align: end;
}

.map iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

footer span {
  display: block;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 1150px) {
  .col-5 .shopName .main {
    font-size: 45px;
  }
  .col-5 .shopName .sub {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .news .newsBlock {
    padding-bottom: 40px;
  }
  .product {
    background-color: #f0efee;
  }
  .product .productTitle {
    position: relative;
    top: 60px;
    left: 85%;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    opacity: 0.6;
  }
  .product .productTitle .main {
    font-size: 40px;
  }
  .product .productTitle .sub {
    font-size: 20px;
    text-align: end;
  }
  .shop {
    padding-bottom: 100px;
  }
  .shop .container img {
    width: 100%;
  }
  .shop .container .info {
    min-width: 70%;
    height: 200px;
  }
}

@media (max-width: 800px) {
  nav .navbar-nav {
    right: 20px;
  }
  nav .navbar-nav .nav-item {
    padding: 0 5px;
  }
  .news .newsBlock .newsTitle {
    top: 20px;
    left: -10%;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .news .newsBlock .newsTitle .sub {
    text-align: start;
  }
  .product .productTitle {
    position: relative;
    top: 20px;
    left: 60%;
    max-width: 40%;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .product .productTitle .main {
    font-size: 40px;
  }
  .product .productTitle .sub {
    font-size: 20px;
    text-align: start;
  }
  .shop .container img {
    width: 90%;
    height: 400px;
    padding: 0 0 10px 80px;
  }
  .shop .container .info {
    position: relative;
    top: 0;
    left: 2%;
    padding: 0 10px;
    max-width: 95%;
    height: 200px;
  }
  .shop .container dt {
    padding-right: 10px;
  }
}

@media (max-width: 620px) {
  nav .openbtn1 {
    display: block;
  }
  nav .navbar-nav {
    display: none;
  }
  nav .cartIcon {
    display: block;
  }
  .follow {
    top: 22px;
    left: 30px;
  }
  .follow .text {
    display: none;
  }
  .carousel-item {
    margin-top: 80px;
  }
  .col-5 .shopName .main {
    font-size: 30px;
  }
  .col-5 .shopName .sub {
    font-size: 20px;
  }
  .col-5 .shopName .scrollDown {
    right: 5%;
    padding-right: 30px;
  }
  .col-5 .shopName .scrollDown span {
    font-size: 15px;
  }
  .col-5 .shopName .scrollDown:before {
    left: -2px;
  }
  .col-5 .shopName .scrollDown:after {
    bottom: 2px;
    left: 2px;
    height: 60px;
  }
  .news .newsBlock .newsItem {
    padding: 15px;
  }
  .news .newsBlock .date {
    font-size: 16px;
    padding-right: 30px;
  }
  .news .newsBlock .title {
    font-size: 18px;
    padding-right: 20px;
  }
}

@media (max-width: 620px) {
  .product .productTitle {
    top: 0;
    left: 30%;
    max-width: 50%;
  }
  .product .kasutera, .product .oishii {
    padding: 20px 0;
    width: 90%;
  }
  .product .kasutera .title, .product .oishii .title {
    display: none;
  }
  .product .kasutera h1, .product .oishii h1 {
    padding: 10px;
    font-size: 20px;
  }
  .product .kasutera ul, .product .oishii ul {
    gap: 50px;
    font-size: 16px;
  }
  .product .kasutera li, .product .oishii li {
    display: block;
    list-style-type: none;
  }
}
/*# sourceMappingURL=index.css.map */